{% extends 'quizbank/base.html' %}

{% block body %}
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 col-quizquery">

<div class="dropdown" id="tags-div">
  <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose Subjects
  <span class="caret"></span></button>
  <ul class="dropdown-menu scrolling-dropdown">
  <a class="btn btn-default btn-sm" onclick="t_select_all()">All</a>
  <a class="btn btn-default btn-sm" onclick="t_select_none()">None</a>
  <br />
  <input style="margin-top:10px" id="tag_query" type="text" autofocus>
  <br />
  <span id="tag-dropdown">

  </span>
  </ul>
</div>
<br />

<!-- Difficulty Selector -->
<div class="module" id="difficulty-dropdown">
	<table>
	<caption>
	    <span class="section" title="Difficulty Selector">Difficulties</span>
	    <span style="float:right;"><a class="box-link" onclick="d_select_all()">All</a> / 
	    <a class="box-link" onclick="d_select_none()">None</a></span>
	</caption>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="difficulty_1" value=true checked></td>
	    <th class="checkrow" scope="row">1 (Easy)</th>
	</tr>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="difficulty_2" value=true checked></td>
	    <th class="checkrow" scope="row">2</th>
	</tr>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="difficulty_3" value=true checked></td>
	    <th class="checkrow" scope="row">3 (Medium)</th>
	</tr>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="difficulty_4" value=true checked></td>
	    <th class="checkrow" scope="row">4</th>
	</tr>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="difficulty_5" value=true checked></td>
	    <th class="checkrow" scope="row">5 (Difficult)</th>
	</tr>
	</table>
</div>

<div class="module" id="qtype-dropdown">
</div>

{% if approved %}
<div class="module" id="release-dropdown">
	<table>
	<caption>
	    <span class="section" title="Questions that are 'Not Released to Public' are only available to registered teachers.">Release Statuses</span>
	    <span style="float:right;"><a class="box-link" onclick="r_select_all()">All</a> / 
	    <a class="box-link" onclick="r_select_none()">None</a></span>
	</caption>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="released_0" value=true checked></td>
	    <th class="checkrow" scope="row">Not Released to Public</th>
	</tr>
	<tr class="quizbank-row">
		<td><input type="checkbox" name="released_1" value=true checked></td>
	    <th class="checkrow" scope="row">Released to Public</th>
	</tr>
	</table>
</div>
{% endif %}


<div class="module" id="year-dropdown">
</div>


<a href="#"><button onclick="query()" class="btn btn-default">Search Quiz Bank</button></a>
<!-- </form> -->

</div>
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">

<span id="query-results">
</span>

<br /><br />

<div id="question-results" class="modal fade" role="dialog" tabindex="-1">
</div>

<!-- Question Results Span from Appear Below Mode -->
<!-- <span id="question-results"> -->
<!-- </span> -->

</div>
</div>
<br /><br /><br />
{% endblock %}

{% block script %}
<script>

//global variable
var tag_dropdown_data;

$(document).ready(function() {

	//add listener for user typing; filter results based on this.
   	$('#tag_query').keyup(function(){
   		fillDropdown();
   	});

	// ajax request to get tags
	var parameters = {
		csrfmiddlewaretoken: '{{ csrf_token }}'
	};
	var request = $.ajax({
		url: "{% url 'quizbank:taglist' %}",
		type: 'POST',
		data: parameters
	});
	request.done(function(response, textStatus, jqXHR) {
		data = jQuery.parseJSON(response);
		tag_dropdown_data = data;

		dropdown_contents = '';
		for (var i = 0, len = data.length; i < len; i++) {
		  dropdown_contents += '<li id="tag_id_' + data[i][0] + '"><input type="checkbox" name="tag_';
		  dropdown_contents += data[i][0];
		  dropdown_contents += '" value=true> ';
		  dropdown_contents += data[i][1];
		  dropdown_contents += '</li>';
		}
		$('#tag-dropdown').html(dropdown_contents);

		fillDropdown();

   		});
	request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});

	// ajax request to get years
	var request = $.ajax({
		url: "{% url 'quizbank:yearlist' %}",
		type: 'POST',
		data: parameters
	});
	request.done(function(response, textStatus, jqXHR) {
		data = jQuery.parseJSON(response);
		dropdown_contents = '<table><caption><span class="section" title="Authorship Year Selector">Authorship Year</span>';
	    dropdown_contents += '<span style="float:right;"><a class="box-link" onclick="y_select_all()">All</a> / ';
	    dropdown_contents += '<a class="box-link" onclick="y_select_none()">None</a></span></caption>';

		for (var i = 0, len = data.length; i < len; i++) {
		  dropdown_contents += '<tr class="quizbank-row"><td><input type="checkbox" name="year_';
		  dropdown_contents += data[i];
		  dropdown_contents += '" value=true checked></td><th class="checkrow" scope="row">';
		  dropdown_contents += data[i];
		  dropdown_contents += '</th></tr>';
		}
		dropdown_contents += '</table>';
		$('#year-dropdown').html(dropdown_contents);
		setCheckrows();
   	});
	request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});

	// ajax request to get question types
	var request = $.ajax({
		url: "{% url 'quizbank:qtypelist' %}",
		type: 'POST',
		data: parameters
	});
	request.done(function(response, textStatus, jqXHR) {
		data = jQuery.parseJSON(response);
		dropdown_contents = '<table><caption><span class="section" title="Question Type Selector">Question Types</span>';
	    dropdown_contents += '<span style="float:right;"><a class="box-link" onclick="q_select_all()">All</a> / ';
	    dropdown_contents += '<a class="box-link" onclick="q_select_none()">None</a></span></caption>';

		for (var i = 0, len = data.length; i < len; i++) {
		  dropdown_contents += '<tr class="quizbank-row"><td><input type="checkbox" name="qtype_';
		  dropdown_contents += data[i][0];
		  dropdown_contents += '" value=true checked></td><th class="checkrow" scope="row">';
		  dropdown_contents += data[i][1];
		  dropdown_contents += '</th></tr>';
		}
		dropdown_contents += '</table>';
		$('#qtype-dropdown').html(dropdown_contents);
		setCheckrows();
	});
	request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});

	// This keeps the tags div open when new tags are selected
	$('#tags-div .dropdown-menu').on({
    "click":function(e){
      e.stopPropagation();
    }
	});

	setCheckrows();

});

//script for filtering tags. 
function fillDropdown(){
	var data = tag_dropdown_data;
	var start = $('#tag_query').val();
	if (start == null){
		start = '';
	}
	for (var i = 0, len = data.length; i < len; i++) {
		if (data[i][0].startsWith(start)){
			$('#tag_id_' + data[i][0]).show();
		}
		else
		{
			$('#tag_id_' + data[i][0]).hide();
		}
	}
}

function setCheckrows() {
	// set all rows with checkboxes to toggle checkbox on click
	$('.checkrow').prop('onclick',null).off('click');
	$('.checkrow').on('click', function() {
		box = $(this).parent().find('input');
		box.prop('checked', !box.prop('checked'))
	});
}

// these functions handle the select all / deselect all toggles
function q_select_all() {
	$('#qtype-dropdown input:checkbox').prop('checked', true);
}

function q_select_none() {
	$('#qtype-dropdown input:checkbox').prop('checked', false);
}

function y_select_all() {
	$('#year-dropdown input:checkbox').prop('checked', true);
}

function y_select_none() {
	$('#year-dropdown input:checkbox').prop('checked', false);
}

function t_select_all() {
	$('#tag-dropdown input:checkbox').each(function(index) {
		if ($(this).parent().is(':visible'))
			$(this).prop('checked', true);
	});
}

function t_select_none() {
	$('#tag-dropdown input:checkbox').each(function(index) {
		if ($(this).parent().is(':visible'))
			$(this).prop('checked', false);
	});
}

function d_select_all() {
	$('#difficulty-dropdown input:checkbox').prop('checked', true);
}

function d_select_none() {
	$('#difficulty-dropdown input:checkbox').prop('checked', false);
}

function r_select_all() {
	$('#release-dropdown input:checkbox').prop('checked', true);
}

function r_select_none() {
	$('#release-dropdown input:checkbox').prop('checked', false);
}

// this function handles the querying
function query() {
	$('#query-results').html('');
	$('#question-results').html('');

	// Creating lists to store all of the data to query
	tags = [];
	difficulties = [];
	qtypes = [];
	releases = [];
	years = [];

	// Go through tag names and extract the data for what needs to be queried

	$('#tag-dropdown input:checked').each(function(index) {
		tag = $(this).attr('name');
		tag = tag.replace('tag_', '');
		// using split and join to replace all, as opposed to just first _
		tag = tag.split('_').join(' ');
		tags.push(tag);
	});

	$('#difficulty-dropdown input:checked').each(function(index) {
		difficulty = $(this).attr('name');
		difficulty = difficulty.replace('difficulty_', '');
		difficulties.push(parseInt(difficulty));
	});

	$('#qtype-dropdown input:checked').each(function(index) {
		qtype = $(this).attr('name');
		qtype = qtype.replace('qtype_', '');
		qtype = qtype.split('_').join(' ');
		// True/False is the one instance of a slash, handle that separately
		qtype = qtype.replace('True False', 'True/False');
		qtypes.push(qtype);
	});

	$('#release-dropdown input:checked').each(function(index) {
		released = $(this).attr('name');
		released = released.replace('released_', '');
		releases.push(parseInt(released));
	});

	$('#year-dropdown input:checked').each(function(index) {
		year = $(this).attr('name');
		year = year.replace('year_', '');
		years.push(parseInt(year));
	});

	{% if not approved %}
	releases = [1];
	{% endif %}

	var parameters = {
		csrfmiddlewaretoken: '{{ csrf_token }}',
		tags: tags,
		difficulties: difficulties,
		qtypes: qtypes,
		releases: releases,
		years: years
	};

	var request = $.ajax({
		url: "{% url 'quizbank:query' %}",
		type: 'POST',
		data: parameters
	});
	request.done(function(response, textStatus, jqXHR) {
		data = jQuery.parseJSON(response);

		query_results = '<div class="dt_wrapper">';
   	 	query_results += '<table width="100%" class="table table-striped table-bordered table-hover" id="query-table">';
        query_results += '<thead><tr>';

		query_results += '<th>Name</th>';
		query_results += '<th>Question</th>';
		query_results += '<th>Type</th>';
		query_results += '<th>Year</th>';
		{% if approved %}
		query_results += '<th>Public</th>';
       	{% endif %}

       	query_results += '</tr></thead><tbody>';
        
        for (i = 0, len = data.length; i < len; i++)
        {
        	query_results += '<tr onclick="questionDetail(' + data[i]['id'] + ')">';
        	query_results += '<td>' + data[i]['title'] + '</td>';
        	query_results += '<td>' + (data[i]['question'].length > 250 ? data[i]['question'].substring(0,250) + '...' : data[i]['question']) + '</td>';
        	query_results += '<td>' + data[i]['qtype'] + '</td>';
        	query_results += '<td>' + data[i]['authorship_year'] + '</td>';
        	{% if approved %}
        	query_results += '<td>' + (data[i]['released'] ? 'Yes' : 'No') + '</td>';
        	{% endif %}
        	query_results += '</tr>';
        }

        query_results += '</tbody></table></div>';

		$('#query-results').html(query_results)
		$('html, body').animate({ scrollTop: 0 }, 'fast');

		// set data tables to be responsive
		$('#query-table').DataTable({
                responsive: true,
                "iDisplayLength": 5,
            	"language": {
                "lengthMenu": 'Display <select class="form-control">'+
                	'<option value="5">5</option>'+
                    '<option value="10">10</option>'+
                    '<option value="25">25</option>'+
                    '<option value="50">50</option>'+
                    '<option value="-1">All</option>'+
                    '</select> questions',
                "sInfo": "Showing _START_ to _END_ of _TOTAL_ questions",
                "sEmptyTable": "There are no questions matching your query."
            }
        });

        $('.paginate_button').on('click', function() {
			window.scrollTo(0,0);
		});

		// Every time the table redraws, re-call the function that sets the paginate button to take to top
        var table = $('#query-table').DataTable();
        table.on('draw', function() {
        	$('.paginate_button').on('click', function() {
				window.scrollTo(0,0);
			});
        });

	});
	request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});
}

function questionDetail(id) {
	var parameters = {
		csrfmiddlewaretoken: '{{ csrf_token }}',
		id: id
	};

	var request = $.ajax({
		url: "{% url 'quizbank:question_detail' %}",
		type: 'POST',
		data: parameters
	});
	request.done(function(response, textStatus, jqXHR) {
		data = jQuery.parseJSON(response);

		question_results = '';
		// question_results += '<h3>Question Detail:</h3>';
		// question_results += '<b>Title</b>: ';
		// question_results += data['title'];
		question_results += '<div class="modal-dialog"><div class="modal-content"><div class="modal-header">';
		question_results += '<button type="button" class="close" data-dismiss="modal">&times;</button>';
		question_results += '<b>Question:</b> ' + data['title'] + '</div><div class="modal-body">';
		
		// question_results += '<br /><br />';
		// question_results += '<b>Question</b>:<br />';
		question_results += data['question'];
		// question_results += '<br />';
		
		
		//button to show answer
		question_results += '<button style="margin-bottom:15px" class="btn btn-default" type="button" id="show_answer">Show Answer</button>'
		
		//button to hide answer. initially hidden until we show answer
		question_results += '<button class="btn btn-default" type="button" id="hide_answer">Hide Answer</button>'

		//add span for answer. initially hidden.
		question_results += '<span id=\"answer_results\"><br /><br />'
		
		//answer
		question_results += '<b>Answer</b>:<br />';
		question_results += data['answer'];
		//close span
		question_results += '</span>';
		
		
		
		question_results += '<br /><b>Subject Tags</b>: ';
		question_results += data['tags'].join(", ");
		question_results += '<br /><b>Question Type</b>: ';
		question_results += data['qtype'];
		question_results += '<br /><b>Released to Public</b>: ';
		question_results += data['released'] ? "Yes" : "No";
		question_results += '<br /><b>Authorship Year</b>: ';
		question_results += data['authorship_year'];
		question_results += '<br /><b>Origin of Question (if applicable)</b>: ';
		question_results += data['original_exam'] + ', ' + data['original_question'];
		question_results += '<br /><b>Points</b>: ';
		question_results += data['points'];
		question_results += '<br /><b>Difficulty</b>: ';
		question_results += data['difficulty'];

		question_results += '</div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>';
		question_results += '</div></div></div></div>';
		
		$('#question-results').html(question_results);
		$('#question-results').modal();

		// scrolls to top of question results when clicked
		// $("html, body").animate({ scrollTop: $('#question-results').offset().top }, 'fast');
		
		//add a listener for clicking the button
		$("#show_answer").click(function(){
			showAnswer();
		});
		$("#hide_answer").click(function(){
			hideAnswer();
		});

		// don't retain focus of Show and Hide buttons, allows escape button to still work
		$('#show_answer, #hide_answer').on('mousedown', 
    		function(event) {
    			console.log('hi');
        		event.preventDefault();
    	});

		// hide the answer by default
		hideAnswer();
	});
	request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});
}

function hideAnswer(){
	$("#answer_results").hide();
	$("#show_answer").show();
	$("#hide_answer").hide();
}

function showAnswer(){
	$("#answer_results").show();
	$("#show_answer").hide();
	$("#hide_answer").show();
}


</script>
{% endblock %}