{% load staticfiles %}

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="{% static 'curriculum/jquery-1.11.3.js' %}"></script>
		<link rel="stylesheet" href="{% static 'curriculum/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
		<!-- DataTables Table Plug-In for jQuery -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
		{% block head %}{% endblock %}
		<link rel="stylesheet" href="{% static 'curriculum/style.css' %}">
		<!-- <script src="{% static 'curriculum/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script> -->
	</head>
	<body class=" dashboard"><div id="container">
	<div class="wrapper">
		<div id="header"><div id="branding">
			<h1 id="site-name"><a href="{% url 'curriculum:index' %}">CS50 AP</a></h1>
		</div>
		{% if user != None and user.id != None %}
		<div id="user-tools">
            Welcome, <strong>{{ user.first_name }}</strong>.
            	{% if user.is_staff == false %}
            	<a href="{% url 'curriculum:index' %}">Home</a> /
            	{% endif %}
            	{% if user.is_staff %}
            	<a href="{% url 'admin:index' %}">Admin</a> /
            	{% endif %}
                <a href="{% url 'curriculum:logout' %}">Log out</a>
        </div>
        {% else %}
        <div id="user-tools">
            Welcome, <strong>Guest</strong>.
            	<a href="{% url 'curriculum:login' %}">Log in</a> /
                <a href="{% url 'curriculum:register' %}">Register</a>
        </div>
        {% endif %}
       </div>
       <br />
       <div class="page-content">
		{% autoescape on %}{% block body %}{% endblock %}{% endautoescape %}
		</div>
	</div>
	</div></body>
	{% block script %}{% endblock %}
</html>