{% extends 'curriculum/base.html' %}

{% block title %}
This is CS50 AP
{% endblock %}

{% block body %}

<p class="headline">Customize Your CS50 AP Curriculum
    {% if arg == None %}
    <a class="btn btn-default" style="float:right;" href="{% url 'curriculum:teacher_page' user.username %}">View Your Curriculum</a>
    {% elif arg == "chapter" %}
     <a class="btn btn-default" style="float:right;" href="{% url 'curriculum:teacher_page_chapter' user.username chapter.num %}">View Your Curriculum</a>
    {% else %}
    <a class="btn btn-default" style="float:right;" href="{% url 'curriculum:teacher_page_module' user.username chapter.num mod.slug %}">View Your Curriculum</a>
    {% endif %}
</p>


<div class="row">
	<div class="col-md-6">
		<select class="form-control" onchange="location = this.value;">
			<option disabled selected value=-1>Choose a Chapter</option>
			{% for c in chapters %}
				{% if c.num == chapter.num %}
				<option value={% url 'curriculum:chapter_customize' c.num %} selected>{{ c.num}} : {{ c.name }}</option>
				{% else %}
				<option value={% url 'curriculum:chapter_customize' c.num %}>{{ c.num}} : {{ c.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	<div class="col-md-6">
		<select class="form-control" onchange="location = this.value;">
			<option disabled selected value=-1>Choose a Module</option>
			{% for m in modules %}
				{% if m.id == mod.id %}
				<option value={% url 'curriculum:module_customize' chapter.num m.slug %} selected>{{ m.num}} : {{ m.name }}</option>
				{% else %}
				<option value={% url 'curriculum:module_customize' chapter.num m.slug %}>{{ m.num}} : {{ m.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
</div>

<br />

{% if arg == "chapter" %}
	<div class="dt_wrapper">
		<table width="100%" class="table table-striped table-bordered table-hover" id="chapter-table">
			<thead>
				<tr>
					<th>Toggle</th>
					<th>Visible to Students</th>
					<th>Curriculum</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<button onclick="toggleChapter({{ chapter.num }})" class="btn btn-xs btn-primary" type="submit"><b>Toggle</b></button>
					</td>
					<td id="c-vis-cell-{{ chapter.num }}"><b>{% if vis == True %}Yes{% else %}No{% endif %}</b></td>
					<td><b>Chapter {{ chapter.num }} : {{ chapter.name }}</b></td>
				</tr>
				{% for module in modules %}
				<tr>
					<td><button onclick="toggleModule({{ module.num }}, {{ chapter.num }})" class="btn btn-xs btn-primary" type="submit"><b>Toggle</b></button></td>
					<td id="m-vis-cell-{{ module.num }}-{{ chapter.num }}">{% if module.visible == True %}Yes{% else %}No{% endif %}</td>
					<td><a href="{% url 'curriculum:module_customize' chapter.num module.slug %}">Module {{ module.num }} : {{ module.name }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endif %}

{% if arg == "module" %}
	<div class="dt_wrapper">
		<table width="100%" class="table table-striped table-bordered table-hover" id="module-table">
			<thead>
				<tr>
					<th>Toggle</th>
					<th>Visible to Students</th>
					<th>Curriculum</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<button onclick="toggleChapter({{ chapter.num }})" class="btn btn-xs btn-primary" type="submit"><b>Toggle</b></button>
					</td>
					<td id="c-vis-cell-{{ chapter.num }}"><b>{% if vis == True %}Yes{% else %}No{% endif %}</b></td>
					<td><b>Chapter {{ chapter.num }} : {{ chapter.name }}</b></td>
				</tr>
				<tr>
					<td><button onclick="toggleModule({{ mod.num }}, {{ chapter.num }})" class="btn btn-xs btn-primary" type="submit"><b>Toggle</b></button></td>
					<td id="m-vis-cell-{{ mod.num }}-{{ chapter.num }}"><b>{% if mvis == True %}Yes{% else %}No{% endif %}</b></td>
					<td><b>Module {{ mod.num }} : {{ mod.name }}</b></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br /><br />
	<hr>
	<h3>Custom Module Information Panel:</h3>
	<h6>This information will be displayed to your students on your personal module page.</h6>
	<div class="card card-default">
        <div class="card-block">
            <textarea rows="5" style="width:100%" autofocus id="custom-area">{{ modinfo.contents }}</textarea>
        </div>
        <div class="card-footer"> <button onclick="save()" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;<span id="save-response"></span> </div>
    </div>
    
    <br /><br />
    <hr>
    <h3>Custom Resources</h3>
    <button class="btn btn-primary btn-sm" data-toggle="modal" type="button" data-target="#add-resource-modal">Add Resource</button>
    <div class="dt_wrapper">
		<table width="100%" class="table table-striped table-bordered table-hover dataTable" id="cresource-table">
			<thead>
				<tr>
					<th>Toggle</th>
					<th>Visible</th>
					<th>Resource</th>
					<th>Resource Type</th>
					<th>Resource Link</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for resource in cresources %}
					<tr>
					<td><button onclick="toggleResource({{ resource.id }})" class="btn btn-xs btn-primary" type="submit">Toggle</button></td>
					<td id="r-vis-cell-{{ resource.id }}">{% if resource.visible == True %}Yes{% else %}No{% endif %}</td>
					<td>{{ resource.name }}{% if resource.content != "" %} : {{ resource.content }}{% endif %}</td>
					<td>{{ resource.rtype }}</td>
					<td><a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a></td>
					<td><button onclick="removeResource({{ resource.id }})" class="btn btn-xs btn-danger">Delete</button></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<br /><br />
	<hr>
	<h3>Standard Resources</h3>
	<div class="dt_wrapper">
		<table width="100%" class="table table-striped table-bordered table-hover dataTable" id="resource-table">
			<thead>
				<tr>
					<th>Toggle</th>
					<th>Visible</th>
					<th>Resource</th>
					<th>Resource Type</th>
					<th>Resource Link</th>
				</tr>
			</thead>
			<tbody>
				{% for resource in resources %}
					<tr>
					<td><button onclick="toggleResource({{ resource.id }})" class="btn btn-xs btn-primary" type="submit">Toggle</button></td>
					<td id="r-vis-cell-{{ resource.id }}">{% if resource.visible == True %}Yes{% else %}No{% endif %}</td>
					<td>{{ resource.name }}{% if resource.content != "" %} : {{ resource.content }}{% endif %}</td>
					<td>{{ resource.rtype }}</td>
					<td><a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}

<!-- Modal -->
<div id="add-resource-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Resource</h4>
      </div>
      <div class="modal-body">
        <select id="add-resource-rtype" class="form-control">
            <option value=0 disabled selected>Choose a Resource Type</option>
            {% for rtype in rtypes %}
            <option value="{{ rtype.name }}">{{ rtype.name }}</option>
            {% endfor %}
        </select>
        <br />
        <input type="text" id="add-resource-name" class="form-control" placeholder="Resource Name">
        <br />
        <textarea class="form-control" rows="5" style="width:100%" autofocus id="add-resource-content" placeholder="Resource Contents (optional)"></textarea>
        <br />
        <input type="text" id="add-resource-link" class="form-control" placeholder="Resource Link">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button onclick="addResource()" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#navbar-customize').addClass("active");
    $('#resource-table, #cresource-table').DataTable({
                responsive: true,
                "iDisplayLength": 10,
            	"language": {
                "lengthMenu": 'Display <select class="form-control">'+
                	'<option value="5">5</option>'+
                    '<option value="10">10</option>'+
                    '<option value="15">15</option>'+
                    '<option value="-1">All</option>'+
                    '</select> resources',
                "sInfo": "Showing _START_ to _END_ of _TOTAL_ resources",
                "sEmptyTable": "There are no resources matching your query.",
                "columns" : [
                    null,
                    null,
                    { "width" : "50%" },
                    null,
                    null
                ]
            }
        });

});
    
function toggleChapter(chapter_num) {
    var parameters = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        user: {{ user.id }},
        chapter_num: chapter_num
    };
 
 var request = $.ajax({
    url: "{% url 'curriculum:chapter_toggle' %}",
    type: 'POST',
    data: parameters
 });
 
 request.done(function(response, textStatus, jqXHR) {
    data = jQuery.parseJSON(response);
    now_visible = data["new_val"];
     $('#c-vis-cell-' + chapter_num).html(now_visible ? "Yes" : "No");
 });
 request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
 });
}

    
function toggleModule(module_num, chapter_num) {
    var parameters = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        user: {{ user.id }},
        module_num: module_num,
        chapter_num: chapter_num
    };
 
 var request = $.ajax({
    url: "{% url 'curriculum:module_toggle' %}",
    type: 'POST',
    data: parameters
 });
 
 request.done(function(response, textStatus, jqXHR) {
    data = jQuery.parseJSON(response);
    now_visible = data["new_val"];
     $('#m-vis-cell-' + module_num + '-' + chapter_num).html(now_visible ? "Yes" : "No");
 });
 request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
 });
}

{% if arg == "module" %}
function toggleResource(resource_id) {
    var parameters = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        user: {{ user.id }},
        resource_id: resource_id
    };
 
 var request = $.ajax({
    url: "{% url 'curriculum:resource_toggle' %}",
    type: 'POST',
    data: parameters
 });
 
 request.done(function(response, textStatus, jqXHR) {
    data = jQuery.parseJSON(response);
    now_visible = data["new_val"];
     $('#r-vis-cell-' + resource_id).html(now_visible ? "Yes" : "No");
 });
 request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
 });
}

function save() {
    var parameters = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        user: {{ user.id }},
        module: {{ mod.id }},
        contents: $('#custom-area').val()
    };
    
    var request = $.ajax({
        url: "{% url 'curriculum:update_modinfo' %}",
        type: 'POST',
        data: parameters
    });
    
    request.done(function(response, textStatus, jqXHR) {
        $('#save-response').html('Saved successfully.')
    });
    request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});
}

function addResource() {
    var parameters = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        user: {{ user.id }},
        module: {{ mod.id }},
        content: $('#add-resource-content').val(),
        link: $('#add-resource-link').val(),
        name: $('#add-resource-name').val(),
        rtype: $('#add-resource-rtype').val()
    }
    
    var request = $.ajax({
        url: "{% url 'curriculum:add_resource' %}",
        type: 'POST',
        data: parameters
    });
    
    request.done(function(response, textStatus, jqXHR) {
        location.reload(true);
    });
    request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
	});
}

function removeResource(id) {
    var parameters = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        id: id
    };
 
 var request = $.ajax({
    url: "{% url 'curriculum:remove_resource' %}",
    type: 'POST',
    data: parameters
 });
 
 request.done(function(response, textStatus, jqXHR) {
    location.reload(true);
 });
 request.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
 });
}


{% endif %}
    
</script>

{% endblock %}