{% extends 'curriculum/base.html' %}

{% block title %}
This is CS50 AP
{% endblock %}

{% block body %}

<p class="headline">Your account is currently inactive.</p>

Not all resources are available to users until their accounts have been approved.
<br /><br />
You may view the course's curriculum by <a href="{% url 'curriculum:curriculum_page' %}">clicking here</a>.
<br /><br />
If you have been waiting more than a week to have your account approved, click <a href="mailto:lloyd@cs50.harvard.edu">here</a> to email CS50 AP's staff.

{% endblock %}