{% extends 'curriculum/base.html' %}
{% load staticfiles %}

{% block title %}
This is CS50 AP
{% endblock %}

{% block body %}
<p class="headline">This is CS50 AP.</p>
    
    {% if user == None or user.id == None %}
    <div class="row sameheight-container">
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> Access the CS50 Wiki </p>
                    <br/>
                    for more information about the CS50 AP curriculum
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="http://cs50.wiki/" target="_blank">Access</a> </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> Register for CS50 AP </p>
                    <br/>
                    to gain access to more of CS50's AP resources
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="{% url 'curriculum:register' %}">Register</a> </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> Log In to CS50 AP </p>
                    <br/>
                    if you already have an account on the site
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="{% url 'curriculum:login' %}">Log In</a> </div>
        </div>
    </div>
    {% else %}
    <div class="row sameheight-container">
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> View Your Site </p>
                    <br/>
                    on CS50 AP to share the link with your students
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="{% url 'curriculum:teacher_page' user.username %}">View</a> </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> Customize Your Site </p>
                    <br/>
                    on CS50 AP to fit what you want your students to see
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="{% url 'curriculum:customize' %}">Customize</a> </div>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> Discuss CS50 </p>
                    <br/>
                    with other teachers who are using the CS50 AP curriculum
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="https://cs50.harvard.edu/ap/discuss/" target="_blank">Discuss</a> </div>
        </div>
    </div>
    {% endif %}
    
    <div class="col-sm-6 col-md-3">
        <div class="card card-default center-card">
            <div class="card-header">
                <div class="header-block sameheight-item">
                    <p class="title"> View the Curriculum </p>
                    <br/>
                    for CS50 AP, approved by the College Board
                </div>
            </div>
            <div class="card-footer"> <a class="btn btn-primary" href="{% url 'curriculum:curriculum_page' %}">Curriculum</a> </div>
        </div>
    </div>
    
    
</div>
<br/>

<div class="row">

<div class="col-lg-7 col-md-5">
<div class="panel panel-default">
  <div class="panel-heading">What is CS50 AP?</div>
  <div class="panel-body">
      <p><b>CS50</b> is <b>Harvard University</b>'s introduction to the intellectual enterprises of computer science and the art of programming for students less comfortable and more comfortable alike. </p>
      
      <p><b>CS50 AP</b> is a free adaptation for high schools that satisfies the new <b>AP CS Principles</b> <a href="https://advancesinap.collegeboard.org/stem/computer-science-principles" target="_blank">curriculum framework</a> (that officially debuts in Fall 2016). If you would like to bring CS50 AP to your own high school, see <a href="https://cs50.harvard.edu/ap/apply" target="_blank">this application for teachers</a> for more details!</p>

      <p>Videos and materials from our <a href="http://cs50.wiki/Cambridge+Workshop+%282016%29" target="_blank"><b>first CS50 AP Workshop</b></a> of 2016 are now available!</p>

      <p>The slides from Doug Lloyd's presentation on <a href="https://www.dropbox.com/s/0uh5x5gnjizpxhw/iste.pdf?dl=0" target="_blank"><b>CS50 AP</b></a> at ISTE are also available.</p>

      <p>Looking for CS50 merchandise? <a href="http://legacy50.spreadshirt.com/" target="_blank">Click here!</a></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">CS50 in the News</div>
  <div class="panel-body">
      <p><img src="{% static 'curriculum/img/hackathon_img.jpg' %}" class="news-image"></p>
    
      <p>February 8, 2016 -- featured in Katie O'Shaughnessey's blog: <a href="http://codingisexploding.com/2016/02/08/microsoft-cs50-hackathon-nyc/" target="_blank">http://codingisexploding.com/2016/02/08/microsoft-cs50-hackathon-nyc/</a></p>
      
      <p>February 9, 2016 -- featuring Marcus Twyford and Cincinnati Country Day School on cincinnati.com: <a href="http://www.cincinnati.com/story/news/local/indian-hill/2016/02/09/country-day-students-part-pilot-study/80061258/" target="_blank">http://www.cincinnati.com/story/news/local/indian-hill/2016/02/09/country-day-students-part-pilot-study/80061258/</a></p>
      
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">About this Site</div>
  <div class="panel-body">
      This site will be the home of CS50 AP's teacher-facing materials. We will be posting all the curricular resources we can for you in advance of the first day of the school year. Please don't hesitate to email Doug (<a href="mailto:ap@cs50.harvard.edu">ap@cs50.harvard.edu</a>) for requests for new materials and/or feature requests, if you don't see what you're looking for, and we'll do our best to get things up as quickly as we can.
  </div>
</div>

</div>

<div class="col-lg-5 col-md-7">
<div class="panel panel-default">
  <div class="panel-heading">CS50 AP Videos</div>
  <div class="panel-body centered-panel">
      <p><iframe class="homepage-vid" src="https://www.youtube.com/embed/RVjHSAZdVJg" frameborder="0" allowfullscreen></iframe></p>

      <p><iframe class="homepage-vid" src="https://www.youtube.com/embed/GAB6Gm7pTTA" frameborder="0" allowfullscreen></iframe></p>
</div></div></div>


</div>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#navbar-home').addClass("active");
});
</script>
{% endblock %}