{% extends 'curriculum/base.html' %}

{% block title %}
This is CS50 AP
{% endblock %}

{% block body %}

<div class="row">	
	{% if user.is_staff %}
	<div class="col-sm-6 col-md-3">
	<div class="panel panel-default">
	  <div style="background-color:#cceeff" class="panel-body top-panel">
	  	Go to CS50 AP Admin to create or update content:
	  	<br /><br />
	  	<a class="btn btn-default btn-lg" href="{% url 'admin:index' %}" target="_blank">Enter Here</a>
	  </div>
	</div>
	</div>
	{% else %}
	<div class="col-sm-6 col-md-3">
	<div class="panel panel-default">
	  <div style="background-color:#cceeff" class="panel-body top-panel">
	  	Discuss and collaborate with the CS50 AP Teacher Community:
	  	<br /><br />
	  	<a class="btn btn-default btn-lg" href="https://cs50.harvard.edu/ap/discuss/" target="_blank">Enter Here</a>
	  </div>
	</div></div>
	{% endif %}
	<div class="col-sm-6 col-md-3">
	<div class="panel panel-default">
	  <div style="background-color:#ffd9b3" class="panel-body top-panel">
	  	Customize the curriculum for your personal CS50 AP curriculum page:
	  	<br /><br />
	  	<a class="btn btn-default btn-lg" href="{% url 'curriculum:customize' %}" target="_blank">Customize</a>
	  </div>
	</div></div>

	<div class="col-sm-6 col-md-3">
	<div class="panel panel-default">
	  <div style="background-color:#b3ffcc" class="panel-body top-panel">
	  	Access the CS50 AP Quiz Bank to find sample questions on AP topics
	  	<br /><br />
	  	<a class="btn btn-default btn-lg" href="">Access</a>
	  </div>
	</div></div>

	<div class="col-sm-6 col-md-3">
	<div class="panel panel-default">
	  <div style="background-color:#ecc6c6" class="panel-body top-panel">
	  	View the College Board-approved CS50 AP curriculum:
	  	<br /><br />
	  	<a class="btn btn-default btn-lg" href="{% url 'curriculum:curriculum_page' %}">View Here</a>
	  </div>
	</div>
</div>
</div>


<div class="row">
<div class="col-sm-12">
Your username is <b>{{ user.username }}</b>. You can access your personal curriculum page <a href="{% url 'curriculum:teacher_page' user.username %}">here</a>.
</div></div>

{% endblock %}
