{% extends 'curriculum/base.html' %}

{% block title %}
This is CS50 AP
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block fullbody %}

<div class="auth">
    <div class="auth-container-register auth-container">
           {% if error %}
                <div class="row err-area"><div class="col-sm-12">
                <div class="alert alert-danger errror-msg">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Error: </strong>{{ error }}</a>
            </div>
            </div></div>
            <br/>
            {% endif %}
            
        <div class="card" style>
            <header class="auth-header">
                <h1 class="auth-title">
          Register for CS50 AP
            </h1> </header>
            <div class="auth-content">
                <form action="{% url 'curriculum:register' %}" method="post">
                   {% csrf_token %}
                    <div class="form-group"> <label for="username">Username</label> <input type="text" class="form-control underlined" name="username" id="username" placeholder="Username" required autofocus> </div>
                    <div class="form-group"> <label for="password">Password</label> <input type="password" class="form-control underlined" name="password" id="password" placeholder="Password" required></div>
                    <div class="form-group"> <label for="password-confirm">Password</label> <input type="password" class="form-control underlined" name="password-confirm" id="password-confirm" placeholder="Confirm Password" required></div>
                    <div class="form-group"> <label for="first">First Name</label> <input type="text" class="form-control underlined" name="first" id="first" placeholder="First Name" required> </div>
                    <div class="form-group"> <label for="last">Last Name</label> <input type="text" class="form-control underlined" name="last" id="last" placeholder="Last Name" required> </div>
                    <div class="form-group"> <label for="email">Email Address</label> <input type="email" class="form-control underlined" name="email" id="email" placeholder="Email Address" required> </div>
                    <div class="form-group"> <label for="school">School</label> <input type="text" class="form-control underlined" name="school" id="school" placeholder="School Name" required> </div>
                    <div class="form-group"> <label for="school-proof">Proof of Teacher Status</label> <input type="text" class="form-control underlined" name="school-proof" id="school-proof" placeholder="Proof of Teacher Status" required> </div>
                    <h6>Your account will not be approved until your status as a teacher has been verified by CS50's staff. Proof may be a link to an official school website which lists your name as a teacher.<br/><br/>If you would like to submit proof of status by alternate means (such as by including a file or image or other documentation), write "via email" in the "Proof of Teacher Status" field and email your proof of status to <a href="mailto:ap@cs50.harvard.edu">ap@cs50.harvard.edu</a>.</h6><br/>

                    <div class="form-group"> <button type="submit" class="btn btn-block btn-primary">Register</button> </div>
                    <div class="form-group">
                        <p class="text-muted text-xs-center">Already have an account? <a href="{% url 'curriculum:login' %}">Log In Here!</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-xs-center return-home">
            <a href="{% url 'curriculum:index' %}" class="btn btn-secondary rounded btn-sm"> <i class="fa fa-arrow-left"></i> Back to homepage </a>
        </div>
    </div>
</div>

{% endblock %}