{% extends 'curriculum/base.html' %}

{% block body %}
<p class="headline">CS50 AP Resources</p>

<div class="row">
   <div class="dt_wrapper">
        <table width="100%" class="table table-striped table-bordered table-hover nowrapTable" id="resource-table">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Resource</th>
                    <th>Resource Type</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                    <tr>
                    <td>{{ resource.module }}</td>
                    <td>
                        {{ resource.name }}{% if resource.content != "" %} : {{ resource.content }}{% endif %}
                        {% if resource.link != "" %}
                        <a href="{{ resource.link }}" target="_blank"> (Link)</a>
                        {% endif %}
                    </td>
                    <td>{{ resource.rtype }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    console.log('test');
    $('#navbar-resources').addClass('active');
    $('#resource-table').DataTable({
                responsive: true,
                "iDisplayLength": 10,
            	"language": {
                "lengthMenu": 'Display <select class="form-control">'+
                	'<option value="5">5</option>'+
                    '<option value="10">10</option>'+
                    '<option value="15">15</option>'+
                    '<option value="-1">All</option>'+
                    '</select> resources',
                "sInfo": "Showing _START_ to _END_ of _TOTAL_ resources",
                "sEmptyTable": "There are no resources matching your query.",
                "columns" : [
                    null,
                    null,
                    { "width" : "40%" },
                    null
                ]
            }
        });
});
</script>
{% endblock %}