{% extends 'curriculum/base.html' %}
{% load staticfiles %}

{% block header %}
{{ block.super }}
<script src="{% static 'curriculum/jscolor-2.0.4/jscolor.min.js' %}"></script>
{% endblock %}

{% block body %}
<p class="headline">Settings</p>
<br/>
<h4>Personal Settings</h4>
<small>Note: This location appears as the heading to your curriculum page</small><br/>
Location: <input id="location" value="{{ location }}" type="text"><br/>
<!-- adding a temporary school logo option: May have to be rethought when we deploy -->
<small>Please provide a link to an image.</small><br/>
School Logo: <input id="logo" value="{{ logo }}" type="text"><br/>

<h4>Site Settings</h4>
<small>Note: These settings will only take effect on your personal CS50 AP site.</small><br/>
Header Color:  <input id="headercolor-picker" class="jscolor" value="{{ headercolor }}"> <button class="btn btn-default btn-sm header-default">Set Default</button>
<br/>
Background Color:  <input id="bgcolor-picker" class="jscolor" value="{{ bgcolor }}"> <button class="btn btn-default btn-sm bg-default">Set Default</button>
<br/>
Sidebar Color:  <input id="sidecolor-picker" class="jscolor" value="{{ sidecolor }}"> <button class="btn btn-default btn-sm side-default">Set Default</button>
<br/>
Text Color:  <input id="textcolor-picker" class="jscolor" value="{{ textcolor }}"> <button class="btn btn-default btn-sm text-default">Set Default</button>

<br/><br/><br/>
<button class="btn btn-primary btn-save">Save</button>
{% endblock %}


{% block script %}
<script>
    var update_settings_url = '{% url 'curriculum:update_settings' %}';
    var userid = {{ user.id }};
    var csrftoken = '{{ csrf_token }}';
</script>
<script type="text/javascript" src="{% static 'curriculum/js/settings.js' %}"></script>
{% endblock %}