.brand-link, .brand-link:hover, .brand-link:visited, .brand-link:active {
    color:white;
    font-size:28px;
}

.headline {
    font-size:36px;
}

.center-card {
    text-align:center;
}


@media only screen and (min-width:768px) {
    .auth-container-register {
/*        top: 90% !important;*/
          top: 640px !important;
    }
}

@media only screen and (max-width:767px) {
    .auth-container-register {
        top: 0% !important;
    }
}
    


.dataTable tbody tr td {
    word-wrap: break-word;
    word-break: break-all;
}

.nowrapTable tbody tr td {
    word-wrap: normal !important;
    word-break: normal !important;
}

.dataTable {
/*    table-layout: fixed;*/
}

.section-separator {
    margin-top:28px;
}

.btn-swap {
    float:right;
}

.panel-prelined {
    white-space:pre-line;
}

.panel-spaced {
    margin-top:-1.2em;
    margin-bottom:-1.2em;
}

.fullarea {
    width:100%;
}

.news-image {
    width:100%;
    max-width:420px;
}

.homepage-vid {
    width:100% !important;
    min-height:350px;
}

.error-msg {
    background-color:#ff6666 !important;
    border-width:0px;
}

.auth {
    padding:0px;
}

.err-area {
    padding-top:50px;
}

.return-home {
    padding-bottom:50px;
}