.brand-link, .brand-link:hover, .brand-link:visited, .brand-link:active {
    color:white;
    font-size:28px;
}

.headline {
    font-size:36px;
}

.center-card {
    text-align:center;
}


@media only screen and (min-width:768px) {
    .auth-container-register {
/*        top: 90% !important;*/
          top: 640px !important;
    }
}

@media only screen and (max-width:767px) {
    .auth-container-register {
        top: 0% !important;
    }
}
    


.dataTable tbody tr td {
    word-wrap: break-word;
    word-break: break-all;
}

.nowrapTable tbody tr td {
    word-wrap: normal !important;
    word-break: normal !important;
}

.dataTable {
/*    table-layout: fixed;*/
}
